.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;

  &__start, &__end {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 120px;
    margin-right: 50px;

    img {
      width: 100%;
    }

  }



}